snippet com "Ajout d'un commentaire"
<!-- ${1} -->${0}
endsnippet

snippet cref "Espace réservé : référence manquante"
<!-- RÉFÉRENCE NÉCESSAIRE -->	
endsnippet

snippet cdiap "Espace réservé : diapositive"
<!-- DIAPO ${1} -->	
${0}
endsnippet
